{% extends 'base_restaurateur_page.html' %} {% block title %}Необработанные
заказы | Star Burger{% endblock %} {% block content %}
<center>
  <h2>Необработанные заказы</h2>
</center>

<hr />
<br />
<br />
<div class="container">
  <table class="table table-responsive">
    <tr>
      <th>ID заказа</th>
      <th>Статус</th>
      <th>Способ оплаты</th>
      <th>Стоимость заказа</th>
      <th>Клиент</th>
      <th>Телефон</th>
      <th>Адрес доставки</th>
      <th>Комментарий</th>
      <th>Рестораны</th>
      <th>Ссылка на админку</th>
    </tr>

    {% for item in order_items %}
    <tr>
      <td>{{ item.order.id }}</td>
      <td>{{ item.order.get_status_display }}</td>
      <td>{{ item.order.get_payment_display }}</td>
      <td>{{ item.total_price }} руб.</td>
      <td>{{ item.order.firstname }} {{ item.order.lastname }}</td>
      <td>{{ item.order.phonenumber }}</td>
      <td>{{ item.order.address }}</td>
      <td>{{ item.order.comments }}</td>
      <td>
        {% if item.available_restaurants %}
        <details>
          <summary>
            <span class="text-success">Может приготовить</span>
            <small>({{ item.available_restaurants|length }})</small>
          </summary>
          <ul style="margin: 10px 0 0 20px;"></ul>
            {% for restaurant in item.available_restaurants %}
            <li>{{ restaurant.name }}</li>
            {% endfor %}
          </ul>
        </details>
        {% else %}
        <span style="color: #999">Нет подходящих ресторанов</span>
        {% endif %}
      </td>
      <td>
        <a
          href="{% url 'admin:foodcartapp_order_change' item.order.id %}?next={{ request.path|urlencode }}"
          >Редактировать</a
        >
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
